:root {
    --fuenteHeading: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784d3c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}

*, *::before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}

/*      GLOBALES         */
.contenedor { 
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a { text-decoration: none; } /*Enlaces sin decoración*/

h1, h2, h3, h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}
h1 { font-size: 4.8rem; }
h2 { font-size: 4rem;   } 
h3 { font-size: 3.2rem; }
h4 { font-size: 2.8rem; }

img { max-width: 100%; }

/*      Utilidades       */
.no-margin {
    margin: 0; /* Eliminamos algunos margenes por defecto */
}
.no-padding {
    padding: 0; /* Elimina el pading de algunos navg */
}
.centrar-texto {
    text-align: center;
}

/*      Header           */
.webp .header { /* Si acepta webp tomará la imagen de esta ruta */
    background-image: url(../img/banner.webp);
}
.no-webp .header { /* Si no acepta la imagen tomará la imagen desde esta otra ruta */
    background-image: url(../img/banner.jpg);
}

.header {
    height: 60rem;
    background-size: cover; /* Para que tome todo el espacio disponible */
    background-repeat: no-repeat; /* No se repite el fondo si la imagen no lo cobre */
    background-position: center center; /* Alineación veritical y horizontal en centro para ambos */
}
.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__texto { margin-top: 15rem; }
}
.barra {
    padding-top: 4rem;
}

.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
        .navegacion {
            display: flex;
            gap: 2rem;
        }
}
.navegacion__enlace {
    display: block; /*Para que los elementos estén alineados uno arriba del otro*/
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco );
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr; /*De tres partes, la primera toma dos terceras partes y la segunda toma una*/
        gap: 4rem;
    }
}
.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type { /*last-of-type selecciona la última entrada*/
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem; /*1rem arriba y abajo, 3 izquierda y derecha*/
    font-size: 1.8rem;
    text-transform: uppercase; /*MAYúSCULAS*/
    font-weight: 700; /*Fuente en Negritas*/
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block; /*IMPORTANTE: A diferencia de un 'display inline' este si permite colocar atributos como margin-bottom ó width*/
    }
}
.boton:hover {
    cursor: pointer;
}
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario { /*De este modo con BEM heredamos todo lo de la clase boton pero modificando unicamente el aspecto que nos interesa*/
    background-color: var(--primario);
}

.cursos {
    list-style: none; /*Saca los circulos de las viñetas*/
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0;
}
.widget-curso__label, .curso__label {
    font-family: var(--fuenteHeading);
    font-weight: bold;
}
.widget-curso__info, .curso__info {
    font-weight: 400;
}
.widget-curso__label, .widget-curso__info,
.curso__label, .curso__info { font-size: 2rem; }

.footer {
    background-color: var(--negro);
    padding-bottom: 3rem;
    margin-top: 4rem;
}

/*      SOBRE NOSOTROS          */
@media (min-width: 768px) {
    .sobre_nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

/*      CURSOS          */
.curso {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
}

.curso:last-of-type { /*last-of-type selecciona la última entrada*/
    border: none;
}
/* La edición del .curso__label y .curos__info quedó arriba con el widget*/


/*      CONTACTOO         */
.contacto-bg {
        background-image: url(../img/contacto.jpg);
        height: 40rem;
        background-size: cover;
        background-repeat: no-repeat;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
    text-align: right;
}

.campo__field {
    flex: 1;
    border: 1px solid var(--gris);
    width: 100%;
}

.campo__field--textarea {
    height: 20rem;
}